{% extends 'base.html' %}

{% block titulo %}
Modificar Convocatoria
{% endblock titulo %}


{% block contenido %}
{% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">
                     {{message}}
                </div>
            {% else %}
                <div class="alert alert-success">
                    {{message}}
                </div>
            {% endif %}        
        {% endfor %}
    {% endif %}
    <h1>Modificar Convocatoria</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Guardar">
        <a href="{% url 'convocatoria_lista' %}">Regresar</a>

    </form>
{% endblock contenido %}