{% extends 'base.html' %}

{% block titulo %}
    Lista de campos
{% endblock titulo %}

{% block contenido %}
    <h1>Campos de la modalidad  </h1>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">
                    {{message}}
                </div>
            {% else %}
                <div class="alert alert-success">
                    {{message}}
                </div>
            {% endif %}        
        {% endfor %}
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Campo</th>
                <th>Tipo del campo</th>
            </tr>
        </thead>
        <tbody>
            {% for campos in object_list  %}
                <tr>
                    <td>{{campos.campo}}</td>
                    <td>{{campos.tipo_dato}}</td>
                    <td>
                        {% if campos.formularios %}
                            {{campos.formularios}}    
                        {% else %}
                            No cuenta con descripción
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-success" href="{% url 'nuevo_campo' %}">Agregar</a>
                        <a class="btn btn-success"  href="{% url 'editarCampo' campos.id %}">Editar Campo</a>
                        <a class="btn btn-success"  href="{% url 'editar_campo' campos.id %}">Editar Campo2</a>
                        <a class="btn btn-danger" href="{% url 'eliminar_campo' campos.id %}">Eliminar</a>
                    </td>
                    
                </tr>

            {% empty %}
                <tr>
                    <td colspan="3">
                        <p>No existen modalidades registradas</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-danger" href="{% url 'modalidades_lista' %}">Regresar</a>
{% endblock contenido %}
