{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    Lista de usuarios
{% endblock titulo %}

{% block contenido %}
    <h1>Lista de usuarios</h1>
    
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">
                    {{message}}
                </div>
            {% else %}
                <div class="alert alert-success">
                    {{message}}
                </div>
            {% endif %}        
        {% endfor %}
    {% endif %}

    <table width="100%" class="table">
        <thead>
            <tr>
                <th>CURP</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Instituto</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in object_list  %}
                <tr>
                    <td>{{usuario.curp}}</td>
                    <td>
                        {{usuario.first_name}}
                        {{usuario.last_name}}
                    </td>
                    <td>
                        {% if usuario.datos.telefono %}
                            {{usuario.datos.telefono}}    
                        {% else %}
                            Sin Registrar
                        {% endif %}
                    </td>
                    <td>
                        {% if usuario.datos.instituto %}
                            {{usuario.datos.instituto}}    
                        {% else %}
                            Sin Registrar
                        {% endif %}
                    </td>

                    <td>
                        <a class="btn btn-danger" href="{% url 'eliminar_usuario2' usuario.id %}">Eliminar</a>
                        <!-- Esto es un comentario 
                        <button type="button" 
                            class="btn btn-success" 
                            data-usuario="{{usuario.id}}" 
                            data-toggle="modal" 
                            data-target="#modal-default">
                            Eliminar3
                        </button>
-->
                        <button type="button" 
                            onclick="asignaUsuario('{{usuario.id}}', '{% for g in usuario.groups.all %}{{g.id}}-{% endfor %}')"
                            class="btn btn-success" 
                            data-usuario="{{usuario.id}}" 
                            data-grupos="{% for g in usuario.groups.all %}{{g.id}}-{% endfor %}" 
                            data-toggle="modal" 
                            data-target="#modal-grupos">
                            Grupos
                        </button>
                    </td>
                </tr>
            {% empty %}

                <tr>
                    <td colspan="5">
                        <p>No existen usuarios registrados</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

<div class="modal fade" id="modal-grupos">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Asignar grupos</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="formGrupos" action="{% url 'asignar_grupos_usuario' %}" method="post">
            {% csrf_token %}
            <div class="modal-body">
                {% for grupo in grupos %}
                    <p>
                        <input type="checkbox" name="{{grupo.id}}"> {{grupo.name}}
                    </p>
                {% endfor %}
            </div>
            <input type="hidden" name="usuario" id="idUsuario">
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Asignar grupos</button>
            </div>
        </form>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Eliminar Usuario</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿Deseas eliminar el usuario <b>{{usuario.curp}}</b>?&hellip;</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button"  class="btn btn-primary">Eliminar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

{% endblock contenido %}

{% block scripts %}
    <script src="{% static 'dist/js/funciones.js' %}"></script>
{% endblock scripts %}