<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="{% url 'usuarios_lista' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>
              Usuarios
            </p>
          </a>            
        </li>
      <li class="nav-item">
        <a href="{% url 'presupuesto_lista' %}" class="nav-link">
          <i class="nav-icon fas fa-chart-pie"></i>
          <p>
            Estadisticas
          </p>
        </a>            
      </li>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>